
#nav{
    width: 90%;
    margin: auto;
    height: 150px;
    border: 1px solid black;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,10%);
    justify-content: space-around;

    
}
#nav button{
  margin-top: 20px;
    height: 40px;
}